/* Page */

.page {
  position: relative; /* adicionado */
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  background-color: #343541;
  height: 100%;
  width: 100%;
}

/* Content */
.content {
  height: 100%;
  background-color: #343541;
  text-align: center;
  overflow: auto;
  width: calc(100% - 300px);
  margin-left: 300px;
}

.content.closed {
  width: 100%;
  margin-left: 0;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #161b22;
  padding-top: 20px;
  text-align: center;
  transition: transform 0.5s ease-out;
}

.navbar.closed {
  transform: translateX(-300px);
  transition: transform 0.5s ease-out;
}


/* Botões do Navbar */
.buttonCircle {
  display: inline-block;
  padding: 15px 16px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid;
  color: #fff;
  background-color: #161b22;
  border-color: #161b22;
  width: 95%;
  margin: 0px 0px 30px 0px;
}

.buttonNavbar {
  font-family: Roboto, sans-serif;
  display: inline-flex;
  justify-content: center;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #377475;
  padding: 10px 30px;
  border: solid #293b42 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  transition: 371ms;
  transform: translateY(0);
  cursor: pointer;
  margin: 0 auto 15px;
  width: 80%;
}

.buttonNavbar:hover {
  width: 85%;
  padding: 10px 30px;
  transform: translateY(-0px);
  background-color: #377475;
  color: #ffffff;
  border: solid 2px #377475;
}

/* Botão toggle */
.toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100; /* alterado */
  background-color: #377475;
  color: #ffffff;
  padding: 10px 20px;
  border: solid #293b42 2px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: #293b42;
}