<po-page-default>
  <div class="po-row">
    <po-container class="po-xl-12 po-lg-12 po-md-12">
      <header id="header" class="alt">
        <h1 class="po-xl-12 po-lg-12 po-md-12 po-text-center">Circle View</h1>
      </header>
    </po-container>
    <po-container class="po-xl-12 po-lg-12 po-md-12">
      <app-frame class="po-xl-9 po-lg-9 po-md-9 po-sm-9 po-text-center"></app-frame>
      <div class="po-lg-3 po-md-3 po-sm-12 po-text-center po-margin-top-lg-0 po-margin-top-md-0 po-margin-bottom-sm-2">
        <po-button class="po-lg-12 po-md-12" p-label="Limpar" (p-click)="limparTela()" p-type="primary" p-icon="po-icon po-icon-grid"></po-button>
      </div>
      <div class="po-lg-3 po-md-3 po-sm-12 po-text-center po-margin-top-lg-0 po-margin-top-md-0 po-margin-bottom-sm-2">
        <po-button class="po-lg-12 po-md-12" p-label="Treino" (p-click)="realizarTreino()" p-type="primary" p-icon="po-icon po-icon-grid"></po-button>
      </div>
      <div class="po-lg-3 po-md-3 po-sm-12 po-text-center po-margin-top-lg-0 po-margin-top-md-0 po-margin-bottom-sm-2">
        <po-button class="po-lg-12 po-md-12" p-label="Feedfoward" (p-click)="realizarFeedfowardByUUID()" p-type="primary" p-icon="po-icon po-icon-last-page"></po-button>
      </div>
      <div class="po-lg-3 po-md-3 po-sm-12 po-text-center po-margin-top-lg-0 po-margin-top-md-0">
        <po-widget class="po-lg-12 po-md-12" p-title="Selecionar UUID">
          <select po-select [ngModel]="uuidSelecionado" (ngModelChange)="selecionaUUID($event)">
            <option *ngFor="let uuid of listUUIDs" [value]="uuid">{{uuid}}</option>
          </select>
        </po-widget>
        <po-widget class="po-lg-12 po-mb-1" p-title="Numero de saída">
          <div class="po-font-title po-text-center">{{output}}</div>
          <div class="po-text-center sample-container-dashboard">{{uuidSelecionado}}</div>
        </po-widget>
      </div>
    </po-container>
        <div class="radio-group">
          <input type="radio" id="0" name="numero" value="0" [(ngModel)]="numeroSelecionadoTarget">
          <label for="0">0</label>
        
          <input type="radio" id="1" name="numero" value="1" [(ngModel)]="numeroSelecionadoTarget">
          <label for="1">1</label>
        
          <input type="radio" id="2" name="numero" value="2" [(ngModel)]="numeroSelecionadoTarget">
          <label for="2">2</label>
        
          <input type="radio" id="3" name="numero" value="3" [(ngModel)]="numeroSelecionadoTarget">
          <label for="3">3</label>
        
          <input type="radio" id="4" name="numero" value="4" [(ngModel)]="numeroSelecionadoTarget">
          <label for="4">4</label>
        
          <input type="radio" id="5" name="numero" value="5" [(ngModel)]="numeroSelecionadoTarget">
          <label for="5">5</label>
        
          <input type="radio" id="6" name="numero" value="6" [(ngModel)]="numeroSelecionadoTarget">
          <label for="6">6</label>
        
          <input type="radio" id="7" name="numero" value="7" [(ngModel)]="numeroSelecionadoTarget">
          <label for="7">7</label>
        
          <input type="radio" id="8" name="numero" value="8" [(ngModel)]="numeroSelecionadoTarget">
          <label for="8">8</label>
        
          <input type="radio" id="9" name="numero" value="9" [(ngModel)]="numeroSelecionadoTarget">
          <label for="9">9</label>
        </div>
    </div>
</po-page-default>