<div class="page">
  <button class="toggle-button" (click)="toggleNavbar()">Toggle Navbar</button>
  <div class="navbar" [class.closed]="!isNavbarOpen">
    <button class="buttonCircle">CapsLock</button>
    <button class="buttonNavbar" routerLink="/">Home</button>
    <button class="buttonNavbar" routerLink="/v1-mnist">V1 - MNIST</button>
    <button class="buttonNavbar" routerLink="/v2-cifar10">V2 - CIFAR10</button>
  </div>
  <div class="content" [class.closed]="!isNavbarOpen">
    <router-outlet></router-outlet>
  </div>
</div>