<div class="po-xl-12 po-lg-12 po-mb-12 po-sm-12 po-mt-5">
    <po-widget class="po-xl-12 po-lg-12 po-mb-12 po-sm-12 po-mt-5">
      <input type="file" id="inputFile" name="inputFile" accept=".png,.jpg,.jpeg,.bmp">
      <po-button po-button po-button-icon="po-icon-upload" po-button-type="primary" (click)="enviaImagemParaPredict()">
        <po-icon po-button-icon="po-icon-upload"></po-icon>
        Enviar
      </po-button>
      <div class="po-xl-12 po-lg-12 po-mb-12 po-sm-12 po-mt-5">
        <img *ngIf="pathImage" [src]="pathImage" width="150px" height="150px">
        <span *ngIf="prediction">Predição: {{prediction}}</span>
      </div>
    </po-widget>
  </div>